@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 0.5em;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header li {
  display: inline;
}

.content {
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: end;
  background-color: lightgray;
}

.footer li {
  display: inline;
}

.left-links {
  padding-left: 0.5em;
}

.left-links li {
  list-style-type: none;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.left-links a {
  text-decoration: none;
  font-size: smaller;
}

.right-links {
  padding-right: 0.5em;
}

.right-links li {
  list-style-type: none;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.right-links a {
  text-decoration: none;
  font-size: smaller;
}